{{ ansible_managed | comment }}
{{ "system_role:ssh" | comment(prefix="", postfix="") }}
{% macro render_option(key, value, indent=false) %}
{%   if value is defined and value is not none %}
{%     if value is sameas true %}
{%       if indent %}  {% endif %}
{{ key }} yes
{%     elif value is sameas false %}
{%       if indent %}  {% endif %}
{{ key }} no
{%     elif value is string or value is number %}
{%       if indent %}  {% endif %}
{{ key }} {{ value | string }}
{%     else %}
{%       for i in value %}
{%         if i is none %}
{{- '' -}}
{%         else %}
{%         if indent %}  {% endif %}
{{ key }} {{ i | string }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   else %}
{{- '' -}}
{%   endif %}
{% endmacro %}
{% macro body_option(key, override) %}
{%   if override is defined and override is not none %}
{{ render_option(key, override) -}}
{%   elif ssh[key] is defined and ssh[key] is not none %}
{{ render_option(key, ssh[key]) -}}
{%   elif __ssh_defaults[key] is defined and not __ssh_skip_defaults | trim | bool %}
{{ render_option(key, __ssh_defaults[key]) -}}
{%   else %}
{{- '' -}}
{%   endif %}
{% endmacro %}
{% macro match_block(match_list) %}
{%   if match_list["Condition"] is defined %}
{%     set match_list = [ match_list ]%}
{%   endif %}
{%   if match_list is iterable %}
{%     for match in match_list %}
Match {{ match["Condition"] }}
