{% if ssh['Match'] is defined %}
{{ match_block(ssh['Match']) -}}
{% endif %}
{% if ssh_Match is defined %}
{{ match_block(ssh_Match) -}}
{% endif %}
{% if ssh['Host'] is defined %}
{{ host_block(ssh['Host']) -}}
{% endif %}
{% if ssh_Host is defined %}
{{ host_block(ssh_Host) -}}
{% endif %}
