---
name: Run tests on Fedora latest

on: [push, pull_request]

jobs:
  build:
    if: |
      !((github.event_name == 'pull_request' && contains(github.event.pull_request.title, '[citest_skip]')) ||
        (github.event_name == 'push' && contains(github.event.head_commit.message, '[citest_skip]')))
    runs-on: ubuntu-latest
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - name: checkout PR
        uses: actions/checkout@v6

      - name: ansible check with fedora:latest
        uses: roles-ansible/check-ansible-fedora-latest-action@master
        with:
          group: local
          hosts: localhost
          targets: "tests/tests_*.yml"
